* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #1F2235;
}
nav {
    position: absolute;
    width: 50%;
    height: 50px;
    top: 22px;
    right: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f2235;
    
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.header-button {
width: 152px;
height: 50px;
left: 1468px;
top: 22px;
margin-left: 50px;
border-radius: 4px;
background-color: #FE461C;
color: white;
}
li {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-left: 17px;
    color: white;
    
}
.orange-text {
    color: #FE461C;
}

.banner {
    position: absolute;
    width: 100%;
    height: 900px;
    top: 0;
}
.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 900px;
    background-color: #1F2235
}

.ellipse {
    position: absolute;
    right: 250px;
    top: 242px;
    width: 634px;
}
.text-banner {
   position: absolute;
   top: 335px;
   left: 343px;
}
.banner-p {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 20px;
    letter-spacing: 15%;
    text-align: left;
    text-transform: capitalize;
    color: white;
}
h1 {
    font-family: Outfit;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: white;
    margin-bottom: 31px;
}

.banner-third-text {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    color: white;
    margin-bottom: 36px;
}
.banner-button-orange {
    width: 160px;
    height: 50px;
    left: 343px;
    top: 625px;
    border-radius: 4px;
    background-color: #FE461C;
    color: white;
}
.banner-last-button {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    width: 160px;
    height: 50px;
    color: white;
    background-color: #1F2235;
}
.ellipse-alone {
    position: absolute;
    right: 84%;
    bottom: 68%;
}
.social-icons {
    position: absolute;
    display: grid;
    left: -50%;
    bottom: 5%;
}